<!DOCTYPE html>

<html>
	<head>
		<title>{{ title }} | {{ event_info.event_name }}</title>
	</head>
	
	<div style="display: inline" class="header">
		<p style="display: inline">{{ event_info.event_name }}</p>
		<a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('about') }}">About</a>
		<a href="{{ url_for('register') }}">Register</a>
	</div>
	
	<hr>
	
	<div class="messages">
		{% with messages = get_flashed_messages() %}
			{% for message in messages %}
				<b>{{ message }}</b>
			{% endfor %}
		
		{% endwith %}
	</div>

	<div class="main">
		{% block content %}{% endblock %}
	</div>

</html>
