{% extends "base.html" %}

{% block content %}
	<h1>{{ event_info.event_name }}</h1>
	<p>{{ event_info.event_short_description }}</p>
	
	<p>This event was made with EventMgr. You will be able to sign up for the event at the top.</p>

{% endblock %}
