{% extends "base.html" %}


{% block content %}
	<h1>{{ title }}</h1>

	<form action="" method="POST">
		
		{{ form.hidden_tag() }}
		
		
		
		<div class="form_block">
			<p>{{ form.first_name.label }}</p>
			<p>{{ form.first_name(size=32) }}</p>
		</div>
	
		<div class="form_block">
			<p>{{ form.last_name.label }}</p>
			<p>{{ form.last_name(size=32) }}</p>
		</div>
	
		<div class="form_block">
			<p>{{ form.interests.label }}</p>
			<p>{{ form.interests }}</p>
		</div>
		
		<div class="submit_block">
			<p>{{ form.submit }}</p>
		</div>
	
	
	
	</form>


{% endblock %}


